{% extends 'base.html.twig' %}

{% block title %}Gerants index{% endblock %}

{% block body %}
    <h1>Gerants index</h1>

        {% for gerant in gerants %}
            <div class='adminListe'>
                <p>{{ gerant.id }}</p>
                <p>{{ gerant.email }}</p>
                <p>{{ gerant.roles ? gerant.roles|json_encode : '' }}</p>
                <p>{{ gerant.nom }}</p>
                <p>{{ gerant.prenom }}</p>
                <div>
                    <a href="{{ path('app_gerants_show', {'id': gerant.id}) }}">Voir</a>
                    <a href="{{ path('app_gerants_edit', {'id': gerant.id}) }}">Mofifier</a>
                </div>
            </div>
        {% else %}
        
        {% endfor %}
   
    <a href="{{ path('app_gerants_new') }}">Create new</a>
{% endblock %}
